@import "utils.scss";

* {
  box-sizing: border-box;
  scrollbar-width: none;
  cursor: none !important;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.button {
  border-radius: 28px;
  border: 1px solid $gold-color;
  display: inline-block;
  cursor: pointer;
  color: $gold-color;
  font-family: "Quicksand-normal";
  font-size: 2vh;
  padding: 12px 25px;
  text-decoration: none;
}

.buttonNext {
  border-radius: 28px;
  border: 1px solid $gold-color;
  display: inline-block;
  cursor: pointer;
  color: $gold-color;
  font-family: "Quicksand-normal";
  font-size: 2vh;
  padding: 12px 25px;
  text-decoration: none;
}

.mouseFollower {
  overflow: visible;
  // mix-blend-mode: exclusion;
  z-index: 100000;
  position: fixed;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  pointer-events: none;
  * {
    pointer-events: none;
  }

  @media screen and (max-width: $sm-breakpoint) {
    display: none;
  }
  .outer-circle,
  .inner-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: $gold-color;
    opacity: 0.25;
    transform: translate(-50px, -50px);
  }

  .inner-circle {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    opacity: 0.8;
  }
}

.container {
  width: 100vw;
  height: 100vh;
  // overflow: scroll; si on veut faire du scroll
  position: relative;

  .background {
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
  }

  .background-points {
    width: 100vw;
    height: 50vh;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    object-fit: cover;
    z-index: -99;
    opacity: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .canvasContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
  }

  .content {
    width: 100vw;
    // height: 300vh; // test value
    border: 1px solid yellow;
  }
}
