@import "utils.scss";

* {
  box-sizing: border-box;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.button {
  border-radius: 28px;
  border: 1px solid $gold-color;
  display: inline-block;
  cursor: pointer;
  color: $gold-color;
  font-family: "Quicksand-normal";
  font-size: 2vh;
  padding: 12px 25px;
  text-decoration: none;
}

.container {
  width: 100vw;
  height: 100vh;
  // overflow: scroll; si on veut faire du scroll
  position: relative;

  .background {
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
  }

  .background-points {
    width: 100vw;
    height: 50vh;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    object-fit: cover;
    z-index: -99;
    opacity: 0;
  }

  .canvasContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
  }

  .content {
    width: 100vw;
    // height: 300vh; // test value
    border: 1px solid yellow;
  }
}
