@import "../../utils.scss";

.scene-2 {
  width: 100vw;
  height: 100vh;
  position: relative;
  * {
    font-family: "Quicksand-normal";
  }
  .title {
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    color: #b2954d;
    font-size: 6vh;
    font-weight: bold;
  }

  .timeline {
    position: absolute;
    top: 50%;
    right: 3vw;
    transform: translateY(-50%);
    margin-top: 0;
  }

  .atom-name {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    color: #b2954d;
  }

  .description {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateX(-50%);
    width: 30vw;
    border: 1px solid black;
    padding: 20px;
    font-size: 1.85vh;
    background-color: #eeeeee;
  }

  .previous-atom,
  .next-atom {
    position: absolute;
    top: 90%;
    left: 20%;
    transform: translateX(-50%);
    color: #b2954d;
  }

  .next {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    color: #b2954d;
    &::after {
      position: absolute;
      content: ">";
      transform: rotate(90deg);
      top: 60%;
      left: 50%;
    }
  }

  .next-atom {
    left: 80%;
  }
}
