@import "../../utils.scss";

.scene-2 {
  width: 100vw;
  height: 100vh;
  position: relative;
  * {
    font-family: "Quicksand-normal";
  }
  .title {
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    color: #B2954D;
    font-size: 40px;
    font-weight: bold;
  }

  .timeline {
    position: absolute;
    top: 50%;
    right: 3vw;
    transform: translateY(-50%);
    margin-top: 0;
  }

  .atom-name {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    color: #B2954D;
  }

  .description {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateX(-50%);
    width: 30vw;
    border: 1px solid black;
    padding: 20px;
    background-color: #EEEEEE;
  }

  .previous-atom,
  .next-atom {
    position: absolute;
    top: 90%;
    left: 40%;
    transform: translateX(-50%);
    transform: translateX(-50%);
    color: #B2954D;


  }
  .next-atom {
    left: 60%;
  }
}
