@font-face {
  font-family: 'Quicksand';
  src: url('../../fonts/quicksand/Quicksand-Light.ttf') format("truetype");
  font-weight: lighter;
}

@font-face{
  font-family: 'Quicksand';
  src: url('../../fonts/quicksand/Quicksand-Regular.ttf') format('truetype');
  font-weight: normal;
}

.ui {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  z-index: -1;

  /**
    * HEADER
  */

  .header{
    width: 100%; 
    height: 50px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .header_logo{
      height: 80%;
    }

    .header_links{
      width: 15%;
      display: flex;
      justify-content: space-between;
      font-size: 1.3em;
      
      .header_link{
        color: black;
        text-decoration: none;
        font-family: 'Quicksand', sans-serif;
        font-weight: lighter;
        padding-left: 10%;
      }

      .header_link_hovered{
        color: #B4974F;
        text-decoration: none;
        font-family: 'Quicksand', sans-serif;
        font-weight: lighter;
        padding-left: 10%;
      }
    }
  }

  /**
    * TIMELINE
  */

  .main_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .timeline{
    width: 40px;
    height: 550px;
    display: flex;
    margin-top: 10%;
    justify-content: center;
    align-items: center;

    .timeline_line{
      width: 1px;
      height: 550px;
      background-color: #B4974F;
      position: absolute;
      z-index: -1;
    }

    .timeline_points{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

      .point{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: solid 1px #B4974F;
        background-color: #F6F6F6;
      }

      .point_selected{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: solid 5px #B4974F;
        background-color: #F6F6F6;
      }

    
  }
}
